:root {
  --logo-link-blue-color: #2196f3;
  --logo-black-color: #000000;
  --main-text-color: #757575;
  --title-color: #212121;
  --hero-color: #ffffff;
  --address-color: rgba(255, 255, 255, 0.6);

  --dark-bg: #2f303a;
  --btn-dark-bg: #2196f3;
  --btn-light-bg: #f5f4fa;
  --bg-team-section: #f5f4fa;

  --header-border: #ececec;
  --card-buttom-border: #eeeeee;

  --main-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;

  --social-icon-color: #afb1b8;
}
